[submodule "third/glfw"]
	path = third/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third/bgfx"]
	path = third/bgfx
	url = https://github.com/Knot-Alot/bgfx.cmake.git
[submodule "third/glm"]
	path = third/glm
	url = https://github.com/g-truc/glm.git
[submodule "third/spdlog"]
	path = third/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third/imgui"]
	path = third/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third/imguizmo"]
	path = third/imguizmo
	url = https://github.com/Knot-Alot/ImGuizmo.git
[submodule "third/entt"]
	path = third/entt
	url = https://github.com/skypjack/entt.git
[submodule "third/stduuid"]
	path = third/stduuid
	url = https://github.com/knot-alot/stduuid.git
[submodule "third/portable-file-dialogs"]
	path = third/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "third/physx"]
	path = third/physx
	url = https://github.com/Knot-Alot/PhysX.git
[submodule "third/imterm"]
	path = third/imterm
	url = https://github.com/knot-alot/ImTerm.git
[submodule "third/stb"]
	path = third/stb
	url = https://github.com/nothings/stb.git
[submodule "third/rapidjson"]
	path = third/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third/cereal"]
	path = third/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "third/yojimbo"]
	path = third/yojimbo
	url = https://github.com/networkprotocol/yojimbo.git
